@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  margin-left: 10px;
}

.top_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 9vh;
}

.top_left_logo {
  display: flex;
  align-items: center;
  width: 40%;
}

.top_left_logo > a {
  font-size: 2em;
  font-weight: 400;
}

.logo {
  height: 40px;
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

a:visited {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

nav > a {
  font-size: 2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 130px;
}

.splash_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.inside_splash_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 270px;
}

.splash_screen_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.splash_screen_text h1 {
  font-size: 4.5em;
}

.splash_screen_text p {
  font-size: 2em;
  text-align: center;
}

.splash_screen_3dmodel {
  position: absolute;
  left: 350px;
}

.splash_screen_3dmodel img {
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
  margin-top: 50px;
  margin-left: 40px;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 86%;
}

.grid_container img {
  height: 90px;
  width: 100px;
}

.grid_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.responsive_column img {
  width: 130px;
}

.highlight {
  font-size: 3em;
}

.border_card {
  border-right: 1px solid black;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.project_inner {
  margin-top: 50px;
}

.project_card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project_card p {
  font-size: 1.2em;
  text-align: justify;
}

.project_card span {
  font-size: 2.5em;
}

.about_me {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 276px;
  margin-top: 150px;
  width: 90%;
}

.about_me_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
}

.about_me_card {
  width: 50%;
  text-align: center;
}

.about_me_card p {
  font-size: 1.2em;
  text-align: start;
}
